*
{
	margin: 0;
	padding: 0;
}

header
{
	background-color: pink;
	height: 130px;
	background-size: cover;
	background-position: center;
}

.webname{
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size:35px;
	color:black;
}

.main-nav{
	list-style: none;
	margin-top:0px;
}

.main-nav li{
	display:inline-block;
}

.main-nav li a{
	color: black;
	text-decoration:none;
	padding:0px 20px;
	font-family: Tahoma, Geneva, sans-serif;
	font-size:15px;
}
.main-nav li.active a{
	border: 2px solid black;
}

.main-nav li a:hover{
	border: 2px solid black;
}

.show {display: block;}

.item {
	margin-top:15px;
	background-color: pink;
	height:200px;
	width:1000px;
	border: 1px solid black;
}

.thumbnail {
	float:left;
	width:300px;
	padding:5px;
}

.description {
  float:left;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	width:300px;
	padding:5px;
	text-align:left;
}

.addButton {
  color:pink;
  background-color: pink;
}

.right-panel {
  float:left;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	width:300px;
	padding:5px;
}
.price_option {
    margin-top: 15px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 17px;
}